@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "PT Serif", serif;
    text-align: center;
}

.intro-image {
    background-attachment: fixed;
    background-image: url('../img/image2.webp');
    background-size: cover;
    background-position: bottom;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro-image__link a {
    background-color: #6b6d5a9f;
    border: 2px solid #6b6d5a;
    color: #b0beba;
    display: inline-block;
    font-size: 3rem;
    padding: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 1s ease-in-out;
}

.intro-image__link a:hover {
    transform:scale(1.2)
}

.intro-text {
    background-color: #7c664a;
    color: #c2b9a3;
    display: flex;
    align-items: center;
    justify-content: center; 
    height: 250px;
    padding: 0 15rem;
}

.intro-text__textbox h3 {
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.quality-image {
    background-attachment: fixed;
    background-image: url('../img/image1.jpeg');
    background-size: cover;
    background-position: top;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quality-image__link a {
    background-color: #414e4acc;
    border: 2px solid #4a6b6d;
    color: #d3bead;
    display: inline-block;
    font-size: 3rem;
    padding: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 1s ease-in-out;
}

.quality-image__link a:hover {
    transform:scale(1.2)
}

.quality-text {
    background-color:#946d56;
    color: #caae98;
    display: flex;
    align-items: center;
    justify-content: center; 
    height: 250px;
    padding: 0 15rem;
}

.quality-text__textbox h3 {
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.origin-image {
    background-attachment: fixed;
    background-image: url('../img/image3.webp');
    background-size: cover;
    background-position: top;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.origin-image__link a {
    background-color: #5b5749c9;
    border: 2px solid #5b5749;
    color: #dcd8cb;
    display: inline-block;
    font-size: 3rem;
    padding: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 1s ease-in-out;
}

.origin-image__link a:hover {
    transform:scale(1.2)
}

.origin-text {
    background-color:#49473d;
    color: #b8b8ad;
    display: flex;
    align-items: center;
    justify-content: center; 
    height: 250px;
    padding: 0 15rem;
}

.origin-text__textbox h3 {
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.footer {
   height: 250px;
   background-color: #344140;
   color: #d4cdcd;
   font-size: 2rem;
   padding-top: 2rem;
}

.footer ul li {
    display: inline-block;
    margin: 1rem;
}

.footer ul li a {
    color: #d4cdcd;
    text-decoration: none;
}

.footer ul li a:hover {
    color: white;
    /* transform: scale(1.3); */
}